{% extends 'base.html' %}

{% block content %}

<style>
    input{
        padding-left: 10px;
        padding-right: 10px;
    }
    .row{
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<div class="container">
    <h3 class="text-center py-3">Sign Up</h3>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <div class="col">
            <div class="mx-auto w-50 p-3 bg-light">
                <div class="row">
                    <input class="mx-auto" type="text" name="username" placeholder="Username"/>
                </div>
                <div class="row">
                    <input class="mx-auto" type="password" name="password" placeholder="Password"/>
                </div>
                <div class="row">
                    <input class="mx-auto" type="password" name="conf_password" placeholder="Confirm Password"/>
                </div>
                <div class="row">
                    <input class="mx-auto btn btn-primary mt-3" type="submit" value="Sign Up"/>
                </div>
            </div>
        </div>
    </form>
    {% if error %}
    <p align="center" style="color: crimson;">{{ error }}</p>
    <br>
    <br>
    {% endif %}
</div>

{% endblock %}