{% extends 'base.html' %}

{% block content %}

<style>
    input{
        padding-left: 10px;
        padding-right: 10px;
    }
    .row{
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<div class="container">
    <h3 class="text-center py-3">Create</h3>
    <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col mx-auto w-100 p-3 bg-light">
            <div class="row mx-auto">
                <div class="col-1 ml-auto text-center">Title:</div>
                <input class="col-11" type="text" name="title"/>
            </div>
            <div class="row mx-auto">
                <div class="col-1 ml-auto text-center">Body:</div>
                <input class="col-11" type="textbox" name="body"/>
            </div>
            <div class="row mx-auto">
                <div class="col-1 ml-auto text-center">URL:</div>
                <input class="col-11" type="text" name="url"/>
            </div>
            <div class="row mx-auto">
                <div class="col-1 ml-auto text-center">Image:</div>
                <input class="col-11" type="file" name="image"/>
            </div>
            <div class="row mx-auto">
                <div class="col-1 ml-auto text-center">Icon:</div>
                <input class="col-11" type="file" name="icon"/>
            </div>
            <div class="row">
                <input class="mx-auto btn btn-primary mt-3" type="submit" value="Add Product"/>
            </div>
        </div>
    </form>
    {% if error %}
    <p align="center" style="color: crimson;">{{ error }}</p>
    <br>
    <br>
    {% endif %}
</div>


{% endblock %}